<div class='trackManager centered hide'>
  <svg width="100%" height="20" fill="#ff005a" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
   <rect class='timeline' width="10" height="100" >
  </svg>
  <div><h2>add a track</h2>
  <div class='addTrackContainer'>

    <ul>
      <li><div><a href='#' class='random-sound'>create sound</a></div></li>
      <li><div><a href='#' class='save-sound'>save sound</a></div></li>
      <li><div><a href='#' class='addTrack'>+</a></div></li>
    <li>
      <select class='scales'>
        <option value="1">1/1</option>
        <option value="2">2/2</option>
        <option value="4" selected>4/4</option>
        <option value="8">8/8</option>
    </select>
  </li>
  <li class='left'><span class='total'>8</span> left</li>

    </ul>
    </div>
  </div>
  <div class='tracks'>

  </div>
</div>
