<div class='utils centered hide'>
  <div class='utilContainer'>
    <div class='selectedKey'><span class='bindKey'>a</span></div>
    <select class='available_sounds'>
      <option value="select_sound">select sound</option>
      <option value="sound1">sound1</option>
      <option value="sound2">sound2</option>
      <option value="sound3">sound3</option>
      <option value="sound4">sound4</option>
    </select>
    <div><a href='#' class='back'>back</a></div>
  </div>
</div>

<div class="demo-frame">

    <div class="demo-container">
      <video id="video" width="320" height="240" preload autoplay loop muted></video>
      <canvas id="trackerCanvas" width="320" height="240"></canvas>
    </div>
  </div>

